$color-gray: #777777
$color-white: #ffffff
$color-container: #f7f7f7
$color-brown-light: #ba8554
$color-brown-dark: #a14f03
$color-black: #000

$box-shadow: 0rem .4rem .4rem 0 rgba($color-black, 0.5)
$box-shadow-title: 0rem .4rem .4rem rgba($color-black, .25)

$margin-vertical-big: 8rem
$grid-width: 114rem
$gutter-horizontal: 6rem

$font-size-paragraph: 1.6rem
$font-size-paragraph-2h: 3.6rem
$font-size-paragraph-3h: 2rem