@mixin link-style($color)
  text-decoration: none
  display: inline-block
  text-transform: uppercase
  color: $color


@mixin clearfix
  &::after
    content: ""
    display: table
    clear: both
  

@mixin respond($gadget)
  @if $gadget == phone
    @media (max-width: 600px)
      @content
  @if $gadget == tab-port
    @media (max-width: 900px)
      @content
  @if $gadget == tab-land
    @media (max-width: 1240px)
      @content
  @if $gadget == desc
    @media (min-width: 1800px)
      @content
      