@use "../abstracts/variables" as *
@use "../abstracts/mixins" as *
.about-section
  padding-top: 8rem
  margin-bottom: 5.4rem
  @include respond(tab-port)
    margin-bottom: 43rem

.adventure-section
  padding: 26rem 10rem
  background: linear-gradient(90deg, rgba($color-brown-light, 0.7) 0.03%, rgba($color-black, 0.7) 99.94%), url("../img/back-bal.jpg") center / cover no-repeat
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%)
  @include respond(tab-land)
    padding: 26rem 4rem
  @include respond(tab-port)
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%)
    padding: 15rem 4rem



.tours-section
  padding-top: 8rem
  margin-bottom: 8rem

.feedback-section
  padding: 8rem 0
  position: relative

.form-section
  padding: 10rem
  background: linear-gradient(90deg, $color-brown-light, $color-brown-dark)
  @include respond(tab-port)
    padding: 3rem