.btn-text
  &:link, &:visited
    font-weight: 700
    font-size: $font-size-paragraph
    letter-spacing: 0.12em
    color: $color-brown-light
    text-decoration: none 
    display: inline-block
    padding: 1rem .8rem
    border-bottom: 1px solid $color-brown-light
    transition: all 250ms
  &:hover
    background-color: $color-brown-light
    color: $color-white
    box-shadow: $box-shadow
    transform: translateY(-1rem)
  &:active
    transform: translateY(-.2rem)

  
 