.composition
  position: relative
  &__photo
    width: 59%
    box-shadow: $box-shadow
    border-radius: .5rem
    position: absolute
    transition: all 250ms
    outline-offset: 1rem
    &:hover
      transform: scale(1.1)
      outline: 1rem solid $color-brown-light
      z-index: 20
    &_n1
    &_n2
      top: 8.9rem
      left: 22.1rem
    &_n3
      top: 16.4rem
      left: 2.2rem
  &:hover &__photo:not(:hover)
    transform: scale(0.9)